.custom-bg-dark {
  background-color: #8B0000 !important;
}

.custom-bg-sidebar {
  background-color: #003366 !important;
}

#root {
  max-width: 100%;
  margin: 0 auto;
 margin-top: 0;
 margin-left: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  display: block;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #003366;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-actions button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar {
  position: fixed;
  top: 56px; /* Adjust based on your navbar height */
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 767.98px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ffffff;
  transition: background-color 0.3s ease;
  transition: all 0.3s;
}

.sidebar .nav-link:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link.active {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  padding-top: 48px;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  margin-right: auto;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.menu-item {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.menu-item.active {
  background-color: #FFA500;
}

.main-content {
  flex: 1;
  padding: 1rem;
  transition: margin-left 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 25%; /* Adjust based on your sidebar width */
  }
}

@media (min-width: 992px) {
  .main-content {
    margin-left: 16.66667%; /* Adjust based on your sidebar width */
  }
}

.footer {
  background-color: #003366;
  color: white;
  padding: 1rem;
  text-align: center;
}

.sidebar .nav .nav-item .nav-link {
  padding-left: 2rem;
  font-size: 0.9em;
}
